<div class="splash extra-padding-bottom p20t content text-center"
  ng-controller="disclaimerController as disclaimer" ng-init="disclaimer.init()">
  <div class="row">
    <div class="medium-centered small-centered large-centered columns size-14">
      <logo negative="true"></logo>
      <div class="p20">
        <span class="text-bold text-white" translate>WELCOME TO COLORED COPAY</span>
        <p class="text-gray m0 text-light" translate>A multisignature bitcoin wallet with colored coins support</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <p class="enable_text_select m0">
        <div class="size-14 text-gray " translate>Terms of Use</div>
        <div ng-include="'views/includes/terms.html?v=' + index.assetVersion" class="p10 m10 text-light text-left cc-disclaimer"></div>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="start-button columns button-box">
      <div>
          <p class="text-gray columns size-12" translate>I affirm that I have read, understood, and agree with these terms.</p>
      </div>

      <button ng-click="disclaimer.accept()" class="button black expand round size-12 text-spacing m0" translate>
        I AGREE. GET STARTED
      </button>
    </div>
  </div>
</div>
