<nav class="tab-bar">
    <section class="left-small">
        <a ng-click="cancel()">
            <i class="icon-arrow-left3 icon-back"></i>
            <span class="text-back" translate>Back</span>
        </a>
    </section>
    <section class="middle tab-bar-section">
        <h1 class="title ellipsis" ng-style="{'color':color}" translate>
            Asset
        </h1>
    </section>
</nav>

<div class="modal-content fix-modals-touch">
    <div ng-show="asset.locked">
        <h4 class="title m0">
            <div class="asset-alert">
                <i class="fi-info"></i>
                <span translate>Asset locked by pending transfer</span>
            </div>
        </h4>
    </div>

    <div class="header-modal text-center">
        <div class="cc-asset-icon">
            <img ng-src="{{ asset.icon }}" ng-show="asset.icon"/>
            <div class="cc-default-icon" ng-show="!asset.icon"></div>
        </div>
        <div class="size-42">
            {{ asset.metadata.assetName }}
        </div>
        <div class="size-18 m5t text-gray">
            {{ asset.metadata.description }}
        </div>
    </div>

    <div>
        <div class="text-center m20t">
            <button class="button outline round light-gray tiny" ng-click="openTransferModal(asset)" ng-disabled="asset.locked">
                <span class="text-primary" translate>Transfer</span>
            </button>
        </div>
    </div>


    <h4 class="title m0" translate>Details</h4>
    <ul class="no-bullet size-14 m0">
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>Asset Name</span>:
            <span class="right">
              <time>{{ asset.metadata.assetName }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>Asset ID</span>:
            <span class="right">
              <time>{{ asset.metadata.assetId }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>Quantity</span>:
            <span class="right">
              <time>{{ asset.asset.amount }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>Issuer</span>:
            <span class="right">
              {{ asset.metadata.issuer }}
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>Description</span>:
            <span class="right">
              {{ asset.metadata.description }}
            </span>
        </li>
        <li class="line-b p10 oh" ng-repeat="(name, value) in asset.metadata.userData">
            <span class="text-gray property-name" translate>{{ name }}</span>:
            <span class="right">
              {{ value }}
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray property-name" translate>URLs</span>:
            <span class="right text-right asset-urls">
                <span ng-repeat="url in asset.metadata.urls">
                    <a ng-click="$root.openExternalLink(url.url)">{{ url.name }}</a><br/>
                </span>
            </span>
        </li>
    </ul>

    <div class="m10t oh" ng-init="hideAdv=true">
        <a class="button outline light-gray expand tiny" ng-click="hideAdv=!hideAdv">
            <span translate ng-hide="!hideAdv">Show Advanced</span>
            <span translate ng-hide="hideAdv">Hide Advanced</span>
            <i ng-if="hideAdv" class="icon-arrow-down4"></i>
            <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
        </a>
    </div>
    <div ng-hide="hideAdv" class="m10t oh">
        <ul class="no-bullet size-14 m0">
            <li class="line-b p10 oh">
                <span class="text-gray property-name" translate>Divisible</span>:
                <span class="right">
                    {{ asset.divisible }}
                </span>
            </li>
            <li class="line-b p10 oh">
                <span class="text-gray property-name" translate>Reissuable</span>:
                <span class="right">
                    <boolean-icon value="asset.reissuable"/>
                </span>
            </li>
            <li class="line-b p10 oh">
                <span class="text-gray property-name" translate>Issuance TX</span>:
                <span class="right pointer enable_text_select" ng-click="openBlockExplorer(asset)">
                  {{ asset.issuanceTxid }}
                </span>
            </li>
            <li class="line-b p10 oh">
                <span class="text-gray property-name" translate>Issuer Address</span>:
                <span class="right">
                    {{ issuanceTx.vin[0].addr }}
                </span>
            </li>
            <li class="line-b p10 oh">
                <span class="text-gray property-name" translate>Issuance Date</span>:
                <span class="right">
                    <span ng-show="issuanceTx.time">{{ issuanceTx.time * 1000 | date:'dd MMM yyyy hh:mm'}}</span>
                    <span class="text-warning" ng-show="!issuanceTx.time">Unconfirmed</span>
                </span>
            </li>
        </ul>

        <div ng-show="asset.issuanceTxid">
            <div class="text-center m20t">
                <button class="button outline round dark-gray tiny" ng-click="openBlockExplorer(asset)">
                    <span class="text-gray" translate>See it on the blockchain</span>
                </button>
            </div>
        </div>
    </div>

    <div class="extra-margin-bottom"></div>
</div>